{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
	<div class="container" id="topdiv5">
		<h5 class="card-title">Edite Seus Produtos</h5>
		<form action="{{ url_for('edit', pro_id = result.pro_id) }}" method="POST">
			<div class="form-group">
	    		<label for="exampleFormControlTextarea1">Categoria</label>
	    		<textarea class="form-control" id="exampleFormControlTextarea1" rows="1"name="category" required>{{result.category}}</textarea>
	  		</div>
	  		<div class="form-group">
	    		<label for="exampleFormControlTextarea1">Nome</label>
	    		<textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="pro_name" required>{{result.name}}</textarea>
	  		</div>
	  		<div class="form-group">
	    		<label for="exampleFormControlTextarea1">Descrição</label>
	    		<textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="description" required>{{result.description}}</textarea>
	  		</div>
			<div class="form-group">
				<label for="exampleFormControlSelect1">Faixa de Preço</label>
	    		<select class="form-control" name="price_range">
					<option value="R$1-R$100">R$5000-R$10000</option>
	      			<option value="R$100-R$500">R$100-R$500</option>
				    <option value="R$500-R$1000">R$500-R$1000</option>
				    <option value="R$1000-R$2000">R$1000-R$2000</option>
				    <option value="R$2000-R$5000">R$2000-R$5000</option>
				    <option value="R$5000-R$10000">R$5000-R$10000</option>
	    		</select>
	  		</div>
	  		<div class="form-group">
	    		<label for="exampleFormControlTextarea1">Comentários</label>
	    		<textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="comments" required>{{result.comments}}</textarea>
	  		</div>
	  		<button type="submit" class="btn btn-primary">Feito</button>
		</form>
	</div>
{% endblock %}