<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"></link>
    <title>Navegação</title>
</head>
<body>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='cru.js')  }}"></script>

    <nav>
        <a href="/index">Página Inicial</a> |
        <a href="/contato">Contato</a> |
    </nav>

{% block conteudo %}{% endblock %}
<footer>Aplicação utilizando framework Flask</footer>
</body>
</html>